seed: 42         # fix random seed for reproducibility

# Training steps (how many gradient updates to run on your dataset)
steps: 1000000

# Logging & checkpoint frequency
log_freq: 1000
save_freq: 50000

# Basic DataLoader config
batch_size: 56
num_workers: 32

# Sampler config
sampler_drop_n_first_frames: 50
sampler_drop_n_last_frames: 50

pretrained_path: lerobot/smolvla_base

# Info about the dataset you want to train on
dataset:
  repo_id: "teleop_smpl"
  root: "/root/dataset/tx_ghost/teleop_smpl"
  concat_specs:
    - out_key: observation.state
      in_keys: [observation.state, observation.force]

# Define the policy / model config
policy:
  # This tells the training script to instantiate the pi0 model
  type: smolvla
  device: "cuda"
  push_to_hub: false

  # Train SigLIP, text/vision cross-layers
  freeze_vision_encoder: False
  train_expert_only: False
  train_state_proj: True

  # Match LR schedule to full training horizon
  scheduler_decay_steps: 200_000

  input_features:
    observation.images.usb_cam:
      type: VISUAL
      shape: [3, 720, 1280]

    observation.images.head_cam:
      type: VISUAL
      shape: [3, 480, 640]

    observation.state:
      type: STATE
      shape: [16] # 10 (joints) + 6 (force) after concatenation

  output_features:
    action:
      type: ACTION
      shape: [10]
